[Desktop Entry]
Name=Sonic Annotator
Comment=Batch feature extraction from audio files
Exec=sonic-annotator
Icon=sonic-visualiser
Terminal=true
NoDisplay=true
Type=Application
Categories=Audio;AudioVideo;
