Package: sonic-annotator
Priority: optional
Maintainer: Chris Cannam <cannam@all-day-breakfast.com>
Architecture: tba
Version: tba
Installed-Size: 6056
Section: contrib/sound
Depends: libqt5core5a, libsndfile1, libsamplerate0, libfftw3-3, libbz2-1.0, libpulse0, libmad0, libid3tag0, liboggz2, libfishsound1, libasound2, liblo7, liblrdf0, libsord-0-0, libserd-0-0, vamp-plugin-sdk, librubberband2, libc6
Description: Utility for batch audio feature extraction using Vamp plugins
 Sonic Annotator is a utility program for batch feature extraction from
 audio files.  It runs Vamp audio analysis plugins on audio files, and
 can write the result features in a selection of formats.
